@model StaffSystemViewModel.IndexViewModel.Staff

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#StaffForm").validate();

    });

    function onAdd() {

        if ($("#StaffForm").valid()) {

            var staff = {
                Name: $("#Name").val(),
                BirthDay: $("#BirthDay").val(),
                School: $("#School").val(),
                Address: $("#Address").val(),
                WorkExperience: $("#WorkExperience").val(),
                SelfAssessment: $("#SelfAssessment").val(),
            };

            $("#AddUser").attr("disabled", "disabled");
           
            $.ajax({
                url: "@Url.Action("AddStaff", "Staff")",
                type: "post",
                data: staff,
                success: function (result) {
                    window.location.href = "@Url.Action("Index", "Staff")";
                },
                error: function () {
                }
            });
        }
    }
</script>
<style type="text/css">
    #StaffForm label.error {
        padding-left: 16px;
        margin-left: 2px;
        color: red;
    }
</style>
<h2>Add</h2>
<section id="add1">
    @using (Html.BeginForm("Add", "Staff", FormMethod.Post, new { name = "StaffForm", id = "StaffForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Staff</legend>

            <div class="editor-label">
                Name
            </div>
            <div class="editor-field">
                @*EditorFor and TextBoxFor ,add custom class  , Because the default template for EditorFor does not support custom attribution.  *@
                @Html.TextBoxFor(model => model.Name, new { @class = "required", @maxlength = 50 })
            </div>

            <div class="editor-label">
                BirthDay
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.BirthDay, new { @class = "required date" })
            </div>

            <div class="editor-label">
                School
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.School, new { @class = "required", @maxlength = 100 })
            </div>

            <div class="editor-label">
                Address
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Address, new { @class = "required", @maxlength = 100 })
            </div>

            <div class="editor-label">
                WorkExperience
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.WorkExperience, new { @class = "required", @maxlength = 500 })
            </div>
            <div class="editor-label">
                SelfAssessment
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.SelfAssessment, new { @class = "required", @maxlength = 500 })
            </div>

            <p>
                @*<input type="submit" value="Create" />*@
            </p>
        </fieldset>
    }
</section>

<div>
    <input id="AddUser" type="button" value="add User" onclick="onAdd();"  />
    
    @Html.ActionLink("Back to List", "Index")
</div>


