@model StaffSystemViewModel.IndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>add Bootstrap</title>

    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />

</head>

<body>

    <div class="container">
        <div>
            <h3 class="text-muted">Staff Sys</h3>
        </div>

        @*=============================List=============================*@
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default custom_btn" type="button" data-toggle="modal" data-target="#myAddModal" id="CreateNew">Create New</button>
                    </span>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" id="SearchName" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="Search" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <table class="table table-striped table-bordered table-condensed custom_div_margin_top">
                <tr id="tr_0">
                    <th>JobNumber</th>
                    <th>Name</th>
                    <th>BirthDay</th>
                    <th>School</th>
                    <th>Address</th>
                    <th>WorkExperience</th>
                    <th>operate</th>
                    <th class="colhidden">SelfAssessment</th>
                    <th class="colhidden">Picture</th>
                    <th class="colhidden">Attachment</th>
                </tr>

                @foreach (var item in Model.StaffList)
                {
                    <tr data-id="@item.Id">
                        <td data-member="Id">@item.Id</td>
                        <td data-member="Name">@item.Name</td>
                        <td data-member="BirthDay">
                            @if (@item.BirthDay.HasValue)
                            {
                                @item.BirthDay.Value.ToString("yyyy-MM-dd")
                            }
                        </td>
                        <td data-member="School">@item.School</td>
                        <td data-member="Address">@item.Address</td>
                        <td data-member="WorkExperience">@item.WorkExperience</td>
                        <td>
                            @if (item.Lock)
                            {

                                <a class="btn action-button btn-default" href="#myViewModal" data-toggle="modal" data-id="@item.Id" id="viewStaffInfo">View</a>
                                <a class="btn action-button btn-default" href="#" data-toggle="modal" data-id="@item.Id" id="unLockStaff">UnLock</a>


                            }
                            else
                            {
                                <a class="btn action-button btn-default" href="javascript:void(0)" data-toggle="modal" data-id="@item.Id" id="EditStaff">Edit</a>
                                <a class="btn action-button btn-default " href="#" data-toggle="modal" data-id="@item.Id" id="lockStaff">Lock</a>
                                <a class="btn action-button btn-default " href="" data-id="@item.Id" id="deleteStaff">Delete</a>
                                @*<button data-id="@item.Id" id="deleteStaff">Delete</button>*@
                                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id });*@
                            }
                        </td>
                        <td data-member="SelfAssessment" class="colhidden">@item.SelfAssessment</td>
                        <td data-member="Picture" class="colhidden">@item.Picture</td>
                        <td data-member="Attachment" class="colhidden">@item.Attachment</td>
                        <td data-member="Lock" class="colhidden">@item.Lock</td>
                    </tr>
                }

            </table>
        </div>


        <div>
            <p>&copy; Shinetech</p>
        </div>
    </div>

    @*=============================add=============================*@
    <div class="modal fade" id="myAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Staff</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="StaffForm">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label">Name</label>
                                <input type="text" class="form-control required" id="Name" placeholder="Enter Name">
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">BirthDay</label>
                                <input type="date" value="" class="form-control" id="BirthDay">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>School</label>
                                <input type="text" class="form-control" id="School" placeholder="Enter School">
                            </div>
                            <div class="col-md-6">
                                <label>Address</label>
                                <input type="text" class="form-control" id="Address" placeholder="Enter Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>WorkExperience</label>
                                <textarea class="form-control" id="WorkExperience" placeholder="Enter WorkExperience"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>SelfAssessment</label>
                                <textarea class="form-control" id="SelfAssessment" placeholder="Enter SelfAssessment"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="Add" class="btn btn-default">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*=============================edit=============================*@
    <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Staff</h4>
                </div>
                <div class="modal-body">
                    <div id="StaffForm">
                        <form id="editStaff" method="POST" action="@Url.Action("Edit", "Staff")" enctype="multipart/form-data">
                            <input type="hidden" name="editId" id="editId" value="" />
                            <input type="hidden" name="editPicture" id="editPicture" value="" />
                            <input type="hidden" name="editAttachment" id="editAttachment" value="" />
                            <input type="hidden" name="editLock" id="editLock" value="" />
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Name</label>
                                    <input type="text" class="form-control required" id="editName" name="editName">

                                    <label class="control-label">BirthDay</label>
                                    <input type="date" id="editBirthDay" name="editBirthDay" class="form-control">
                                    <label>School</label>
                                    <input type="text" class="form-control" id="editSchool" name="editSchool" value="">

                                    <label>Address</label>
                                    <input type="text" class="form-control" id="editAddress" name="editAddress" value="">
                                </div>
                                <div class="col-md-6">
                                    <img id="picScr" class="imageHeightWidth" alt="" />
                                    <input type="file" id="headPic" name="headPic" class="custom_div_margin_top" />
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <label>WorkExperience</label>
                                    <textarea class="form-control" id="editWorkExperience" name="editWorkExperience"></textarea>

                                    <label>SelfAssessment</label>
                                    <textarea class="form-control" id="editSelfAssessment" name="editSelfAssessment"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Attachment</label>
                            </div>
                            <div id="showAtt" class="form-group">
                                @*dynamically add links by jquery*@

                            </div>
                            <div class="form-group">

                                <input type="file" id="headAtt" name="headAtt" class="custom_div_margin_top" />
                            </div>

                        </form>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="Edit" type="button" class="btn btn-default">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*=============================view=============================*@
    <div class="modal fade" id="myViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">View Staff</h4>
                </div>
                <div class="modal-body">
                    <div id="StaffForm">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Name</label>
                                    <input type="text" class="form-control required" id="viewName" name="viewName">

                                    <label class="control-label">BirthDay</label>
                                    <input type="date" class="form-control" id="viewBirthDay" name="viewBirthDay" value="">

                                    <label>School</label>
                                    <input type="text" class="form-control" id="viewSchool" name="viewSchool" value="">

                                    <label>Address</label>
                                    <input type="text" class="form-control" id="viewAddress" name="viewAddress" value="">
                                </div>
                                <div class="col-md-6">
                                    <img id="viewPicScr" class="imageHeightWidth" alt="" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <label>WorkExperience</label>
                                    <textarea class="form-control" id="viewWorkExperience" name="viewWorkExperience"></textarea>

                                    <label>SelfAssessment</label>
                                    <textarea class="form-control" id="viewSelfAssessment" name="viewSelfAssessment"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Attachment</label>
                            </div>
                            <div id="viewShowAtt" class="form-group">
                                @*dynamically add links by jquery*@
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript">


    $(document).ready(function () {
        $("#StaffForm").validate();

    });

    $(function () {

        $("#Add").click(function () {
            if ($("#StaffForm").valid()) {
                var staff = {
                    Name: $("#Name").val(),
                    BirthDay: $("#BirthDay").val(),
                    School: $("#School").val(),
                    Address: $("#Address").val(),
                    WorkExperience: $("#WorkExperience").val(),
                    SelfAssessment: $("#SelfAssessment").val(),
                };

                $("#Add").attr("disabled", "disabled");

                $.ajax({
                    url: "@Url.Action("AddStaff", "Staff")",

                    type: "post",
                    data: staff,
                    success: function () {
                        window.location.href = "@Url.Action("Index", "Staff")";

                    },
                    error: function () {
                        window.location.href = "@Url.Action("Error", "Staff")";

                    }
                });
            }

        });


        $("#Search").click(function () {
            var searchName = $("#SearchName").val();
            location.href = "/Staff/Search?parameter=" + searchName;
        });

        $("#Edit").click(function () {
            $("#editStaff").submit();

        });

        $("#btnUploadPic").click(function () {
            $("#uploadPic").submit();

        });

        $("#btnUploadAtt").click(function () {
            $("#uploadAtt").submit();
        });
        $("#GoToList").click(function () {
            window.location.href = "@Url.Action("Index","Staff")";
        });
    });

    $("body").on("click", "#EditStaff", function () {

        var $this = $(this);
        var id = $this.attr("data-id");
        var selectTr = $("tr[data-id='" + id + "']");
        var name = selectTr.children("td[data-member='Name']").text();
        var birthDay = selectTr.children("td[data-member='BirthDay']").text();
        var school = selectTr.children("td[data-member='School']").text();
        var address = selectTr.children("td[data-member='Address']").text();
        var workExperience = selectTr.children("td[data-member='WorkExperience']").text();
        var selfAssessment = selectTr.children("td[data-member='SelfAssessment']").text();
        var picture = selectTr.children("td[data-member='Picture']").text();
        var attachment = selectTr.children("td[data-member='Attachment']").text();
        var lock = selectTr.children("td[data-member='Lock']").text();

        $("#editId").val(id);
        $("#editName").val(name);

        if (birthDay != "") {
            $("#editBirthDay").val($.trim(birthDay));
        }

        $("#editSchool").val(school);
        $("#editAddress").val(address);
        $("#editWorkExperience").val(workExperience);
        $("#editSelfAssessment").val(selfAssessment);
        $("#editLock").val(lock);
        if (picture != "") {
            
            $("#picScr").attr("src", "@(Url.Content("~/Images/StaffImage/"))" + picture);
        } else {
            $("#picScr").attr("src", "@(Url.Content("~/Images/nodata.jpg"))");
        }

        if (attachment != "") {

            $("#showAtt").html("<a href='Doc/" + attachment + "'>" + attachment + "</a>");
        } else {
            $("#showAtt").html("");
        }

        $("#myEditModal").modal("show");
    });

            $("body").on("click", "#lockStaff", function () {
                var $this = $(this);
                var staffId = $this.attr("data-id");
                window.location.href = "Staff/Lock?id=" + staffId;
            });

            $("body").on("click", "#unLockStaff", function () {
                var $this = $(this);
                var staffId = $this.attr("data-id");
                window.location.href = "Staff/Lock?id=" + staffId;
            });

            $("body").on("click", "#deleteStaff", function () {
                var $this = $(this);
                var staffId = $this.attr("data-id");
                window.location.href = "Staff/Delete?id=" + staffId;
                
            });

            $("body").on("click", "#viewStaffInfo", function () {

                var $this = $(this);
                var id = $this.attr("data-id");
                var selectTr = $("tr[data-id='" + id + "']");
                var name = selectTr.children("td[data-member='Name']").text();
                var birthDay = selectTr.children("td[data-member='BirthDay']").text();
                var school = selectTr.children("td[data-member='School']").text();
                var address = selectTr.children("td[data-member='Address']").text();
                var workExperience = selectTr.children("td[data-member='WorkExperience']").text();
                var selfAssessment = selectTr.children("td[data-member='SelfAssessment']").text();
                var picture = selectTr.children("td[data-member='Picture']").text();
                var attachment = selectTr.children("td[data-member='Attachment']").text();

                $("#viewName").val(name);
                if (birthDay != "") {
                    $("#viewBirthDay").val($.trim(birthDay));
                }
                $("#viewSchool").val(school);
                $("#viewAddress").val(address);
                $("#viewWorkExperience").val(workExperience);
                $("#viewSelfAssessment").val(selfAssessment);
                if (picture != "") {
                    $("#viewPicScr").attr("src", "@(Url.Content("~/Images/StaffImage/"))" + picture);
                } else {
                    $("#viewPicScr").attr("src", "@(Url.Content("~/Images/nodata.jpg"))");
                }

                if (attachment != "") {
                    $("#viewShowAtt").html("<a href='Doc/" + attachment + "'>" + attachment + "</a>");
                } else {
                    $("#viewShowAtt").html("");
                }
            });

            $("#BirthDay").focus(function () {
                $(this).datepicker({});
            });

</script>