@model StaffSystemViewModel.IndexViewModel
          
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>add Bootstrap</title>

    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#StaffForm").validate();
        });

        $(function() {


            $("#Add").click(function() {
                if ($("#StaffForm").valid()) {
                    var staff = {
                        Name: $("#Name").val(),
                        BirthDay: $("#BirthDay").val(),
                        School: $("#School").val(),
                        Address: $("#Address").val(),
                        WorkExperience: $("#WorkExperience").val(),
                        SelfAssessment: $("#SelfAssessment").val(),
                    };

                    $("#Add").attr("disabled", "disabled");

                    $.ajax({
                        url: "@Url.Action("AddStaff", "Staff")",
                        type: "post",
                    data: staff,
                    success: function() {
                        window.location.href = "@Url.Action("Index", "Staff")";
                    },
                    error: function() {
                        window.location.href = "@Url.Action("Error", "Staff")";
                    }
                    });
                }
                    
              });
            

            $("#Search").click(function() {
                var searchName = $("#SearchName").val();
                location.href = "/Staff/Search?name=" + searchName;
            });
            
        });
    </script>
</head>

<body>

    <div class="container">
        <div>
            <h3 class="text-muted">Staff Sys</h3>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default custom_btn" type="button" data-toggle="modal" data-target="#myModal">Create New</button>
                    </span>
                  
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" id="SearchName" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="Search" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <table class="table table-striped table-bordered table-condensed custom_div_margin_top">
                <tr id="tr_0">
                    <th>JobNumber</th>
                    <th>Name</th>
                    <th>BirthDay</th>
                    <th>School</th>
                    <th>Address</th>
                    <th>WorkExperience</th>
                    <th>operate</th>
                </tr>

                @foreach (var item in Model.StaffList)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.BirthDay</td>
                        <td>@item.School</td>
                        <td>@item.Address</td>
                        <td>@item.WorkExperience</td>
                        <td>
                            @if (item.Lock)
                            {
                                @Html.ActionLink("UnLock", "Lock", new { id = item.Id, state = "Unlock" })
                            }
                            else
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @("|")

                                @Html.ActionLink("Lock", "Lock", new { id = item.Id, state = "Lock" })
                            }
                        </td>
                    </tr>
                }

            </table>
        </div>

        
        <div>
            <p>&copy; Shinetech</p>
        </div>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Staff</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="StaffForm">
                        <div class="col-md-6">
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control required" id="Name" placeholder="Enter Name">
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">BirthDay</label>
                            <input type="date" class="form-control" id="BirthDay" placeholder="Enter BirthDay">
                        </div>
                        <div class="col-md-6">
                            <label>School</label>
                            <input type="text" class="form-control" id="School" placeholder="Enter School">
                        </div>
                        <div class="col-md-6">
                            <label>Address</label>
                            <input type="text" class="form-control" id="Address" placeholder="Enter Address">
                        </div>
                        <div class="form-group">
                            <label>WorkExperience</label>
                            <textarea class="form-control" id="WorkExperience" placeholder="Enter WorkExperience"></textarea>
                        </div>
                        <div class="form-group">
                            <label>SelfAssessment</label>
                            <textarea class="form-control" id="SelfAssessment" placeholder="Enter SelfAssessment"></textarea>
                        </div>
                        <button type="submit" id="Add" class="btn btn-default">Submit</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
