@model StaffSystemViewModel.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Add")

    @using (Html.BeginForm("Search", "Staff"))
    {
    <p>
        Name: @Html.TextBox("name")  
        <input type="submit" value="Filter" />
    </p>
    }
</p>
<table id="table1">
    <tr id="tr_0">
        <th>
            JobNumber
        </th>
        <th>
            Name
        </th>
        <th>
            BirthDay
        </th>
        <th>
            School
        </th>
        <th>
            Address
        </th>
        <th>
            WorkExperience
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model.StaffList)
{
    <tr >
        <td>
            @item.Id
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.BirthDay
           
        </td>
        <td>
            @item.School
        </td>
        <td>
            @item.Address
        </td>
        <td>
            @item.WorkExperience
        </td>


        <td>
            @if (item.Lock==1)
            {
                @Html.ActionLink("UnLock", "Lock", new { id = item.Id, state = "Unlock" })
            }
            else
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @("|")
                 
                @Html.ActionLink("Lock", "Lock", new { id = item.Id , state = "Lock" })
            }
          
        </td>
    </tr>
}

</table>

